body {
  min-height: 100vh;
  background-color: #007AAF;
}

.width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.final-line{
  font-size: 38px;
  margin-bottom: 32px;
}

.progress {
  padding-top: 5px;
  border-radius: 0;
}

.buttonRow {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #007AAF !important;
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0,0,0, 0.5);
  padding-top: 12px;
}

.quiz-card {
  width: 30rem;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(0,0,0, 0.2);
}

.bg-success, .bg-danger {
  color: white;
}